{% extends "base.html" %}
{% block content %}
    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->



    <div class="w3-row" style="padding: 30px">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Criar Lista de Cadernos</h1>
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>  
                <input type="submit" value="Criar">
            </form>
            
        </div>
    </div>



{% endblock %}
